:root {
  --color-claro: #fafafa;
  --color-paleta-oscuro: #f58410;
  --color-paleta-medio: #ffa50f;
  --color-paleta-claro: #ffcc32;
  --color-oscuro: #282828;
  --font-sans-serif: 'Roboto', sans-serif;  
  --font-heading: 'Notable', sans-serif;
  --font-form:'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif; 
}

html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------
TIPOGRAFÍA & ESTILOS GENERALES
--------------------------------------------------------------*/

body {
  font-family: var(--font-sans-serif);
  font-weight: 400;
  font-size: 1.1rem;
  background-color: var(--color-claro);
  color: var(--color-oscuro);
  line-height: 1.2;
  min-width: 200px;
overflow-x: hidden;
}

header {
  background-color: var(--color-oscuro);
  border-bottom: solid 1.5px var(--color-claro);
}

h1 {
  font-family: var(--font-heading);
  font-size: 2.5rem;
}

h2 {
  font-size: 2.6rem;
}

a{
  text-decoration: none;
  color: var(--color-claro);
}

.pi {
  font-family: var(--font-sans-serif);
  font-size: 5rem;
  font-weight: 700;
  padding-right: 0.3rem;
  background-color: var(--color-paleta-oscuro);
}

.icono_pizza {
  width: 54px;
}

header nav a {
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

footer {
  background-color: var(--color-paleta-oscuro);
  border-top: solid 1.5px var(--color-claro);
}

footer p {
  font-size: 1.5rem;
  color: var(--color-oscuro);
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.redes img {
  width: 54px;
  opacity: 0.85;  
}

h1:hover .pi {
  background-color: var(--color-paleta-medio);
  transition: color 0.3s ease-in-out;
}

.fondo-claro {
  background-color: var(--color-claro);
}

.fondo-oscuro {
  background-color: var(--color-oscuro);
}

.fondo-color {
  background-color: var(--color-paleta-claro);
  border-bottom: solid 2px var(--color-oscuro);
}

nav a:hover {
  color: var(--color-paleta-claro);
  transition: color 0.3s ease-in-out;
}

.redes img:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;  
}

.actual {
  font-weight: bold;
  color: var(--color-paleta-medio);
}

/*--------------------------------------------------------------
LAYOUT
--------------------------------------------------------------*/

header {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  padding: 4rem 6.25%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo img{
  width: 4em;
  height: 4em;
  animation: animate1 10s forwards ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes animate1 {
  25%{
      transform: rotate(90deg);
  }
  50%{
      transform: rotate(180deg);
  }
  75%{
      transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: end;
}

footer {
display: flex;
  justify-content: center;
  height: 12vh;
  align-items: center;
  padding: 0 6.25%;
}

nav ul,
.redes {  
  display: flex;
  justify-content: space-evenly;
  gap: 1.8rem;
}

.banda {
  padding: 1rem 6.25%;
}

.banda-iconica {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem 6.25%;
  background-color: var(--color-paleta-medio);
  border-bottom: solid 2px var(--color-oscuro);
}

.banda-iconica img {
  padding-right: 0.8rem;
}

.slider img {
  width: 100%;
}

/* SLIDER */

.slider {
  overflow: hidden;
  display: flex;
  width: 400%;
  animation: carousel 16s infinite ease-in-out;
}

@keyframes carousel {
  0%, 20% {
      margin-left: 0%;
  }
  25%, 45% {
    margin-left: -100%;
  }
  50%, 70% {
    margin-left: -200%;
  }
  75%, 95% {
    margin-left: -300%;
  }
}

/* TRIPTICO PARA TARJETAS Y LISTAS */

.triptico,
.seccion-unica {
  display: flex;
  justify-content: space-evenly;
}

/* CONTENEDOR DEL FORMULARIO */

.contenedor {
  width: 25%;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
}

/* FIJACION DEL HEADER Y EL FOOTER */

header {    
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {  
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

/*--------------------------------------------------------------
COMPONENTES
--------------------------------------------------------------*/

/* TARJETAS Y LISTAS */

.card {
  width: 25%;
  margin: 3rem 0;
}

.card img {
  width: 100%;
  padding: 1.2rem;
}

.card h3 {
  font-size: 2.2rem;
  padding: 1.2rem;
}

.card h4 {
  font-size: 2rem;
  padding: 2rem 1.2rem 0;
  font-style: italic;  
}

.card p {
  font-size: 1.8rem;
  padding: 1.2rem;
}

.card li {
  font-size: 1.8rem;
  padding-left: 1.2rem;
  font-style: italic;
}

.fondo-color .card {
  box-shadow: 3px 3px 12px #3f3f3f;
}

input[type="checkbox"] {
  display: none;
}

.label-card-btn {
  display: none;
}


/* IFRAME */

.contenedor-iframe {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 32%;
  border: solid 1px var(--color-oscuro);
  width: 87.5%;
  margin: 3rem auto;
}

.contenedor-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* FORMULARIO */

form {  
  font-family: var(--font-form);
  padding: 1rem;
  line-height: 1.8;
  background-color: var(--color-paleta-claro);
  width: 100%;
  display: flex;
  justify-content: center;
}

form button,
select,
label,
input {
  width: 300px;
  height: 25px;
  font-size: 1rem;
  font-weight: 400;
}
.input{
  width: auto;
  font-size: 1.5rem;
}
fieldset{
  padding: 20px;
 
}
legend{
  font-weight: 500;
  font-size: 25px;
}
button{
  color: #fdfafa;
  background-color: #545353;
 
}


.boton{
  width: 150px; 
}

/* form label:after {
  content: ": "
}

/* APP */

.clienteFeliz {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fotoCliente {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}




/*--------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------*/

/* Estilos para pantallas pequeñas */
@media (max-width: 992px) {

  .triptico {
    flex-direction: column;
  }

/* TARJETAS */

  .card {
    width: 87.5%;
    margin: 2em auto;
  }

  .label-card-btn {
    display: block;
  }

  .label-card {
    display: flex;
    justify-content: space-between;
  }

  .card-info {
    display: none;
  }
  

/* DESPLIEGA/CONTRAE TARJETA */

  input[type="checkbox"]:checked+label .card-info {
    display: block;
  }
  input[type="checkbox"]:checked+label .label-card-btn::before {
    content: "\25BC"; /* ICONO FLECHA ABAJO */
  }
  input[type="checkbox"]+label .label-card-btn::before {
    content: "\25C4"; /* ICONO FLECHA IZQUIERDA */
  }
}

/* HEADER */

@media (max-width: 800px) {
  
  header {
    flex-direction: column;
    height: 10em;
    padding: 1rem 6.25%;
  }  
}

/* FOOTER */
  
@media (max-width: 576px) {
    
  footer{
    flex-direction: column;
    height: 5em;
    padding: 1rem 6.25%;
  }
    
  footer p {
    display: none;
    /* font-size: 1.2rem; */
  }
}

/* IFRAME */

@media screen and (max-width: 1600px) {
  .contenedor-iframe {
    padding-bottom: 48%;
  }
}
@media screen and (max-width: 1200px) {
  .contenedor-iframe {
    padding-bottom: 64%;
  }
}
@media screen and (max-width: 992px) {
  .contenedor-iframe {
    padding-bottom: 80%;
  }
}
@media screen and (max-width: 768px) {
  .contenedor-iframe {
    padding-bottom: 96%;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-iframe {
    padding-bottom: 112%;
  }
}


